<h1>Course Listing</h1>

<ul class="form">
  <li>Code: CS111</li>
  <li>Name: Intro to Computer Science</li>
  <li>Description: A description of the Computer Science</li>
</ul>
<ul class="form">
  <li>Code: CS112</li>
  <li>Name: Intro to Computer Science</li>
  <li>Description: A description of the Computer Science</li>
</ul>
